body{
	margin-top :100 px;
   margin-bottom :100 px;
   font-family: serif;
   
   }
   
 .mention{
 	padding-left: 300px;
   padding-right: 300px;
 }
 h2{
	text-align: center; 
 }
 h1{
 	text-align: center;
 }
 
 .footer {position: relative; bottom: 0; left: 0; right: 0}