table{
	display: flex;
	justify-content: center ;
	border-spacing: 40px;
}

.logo{
  width : 150px; height : 150px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  }
  
td{
 text-align: center;

}
.nom_dev{
	color: #194aa5;
	font-weight: bold;
	font-size: 18px;
	font-family: system-ui;
}
.description_role{
	font-family: system-ui;
}

body{
	margin-top :100 px;
   margin-left :100 px;
   font-family: serif;}
   
h1{
	text-align: center;
	font-size: 50px;
	color: #194aa5;
}

span {
 color:#00968D;		
}

h2{
	text-align: center;
}
 