h1{
	
	font-size : 65px;
	text-align:center;
	font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
	padding-top : 100px;
	
}


span {
	
    color:#250987;
   
}


.celtop{

padding-top : 15px;
padding : 15px;
border-right : solid #7c7985 3px;
border-bottom : solid #7c7985 3px;
}


.celbot{
    padding-top : 15px;
    padding : 15px;
    border-right : solid #7c7985 3px;
    border-top : solid #7c7985 3px;

}


#tir{

    border-right : none;  
    border-bottom :solid #7c7985 3px;
  }

table {
    
    margin-left:auto;
    margin-right:auto;
    height:  30em;
    width: 60em;
    

}
td{

    text-align : center;
    
}

button{

    border-radius: 30px;
    background-color :  #4b4951;
    color : white;
    width: 50%;
    height :100px;

}

