h1{
	
	font-size : 65px;
	text-align:center;
	font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
	padding-top : 100px;
	
}


span {
	
    color:#250987;
   
   
   
}


.celtop{

padding-top : 15px;
padding : 15px;
border-right : solid #250987 8px;
border-bottom : solid #250987 8px;
}


.celbot{
    padding-top : 15px;
    padding : 15px;
    border-right : solid #250987 8px;
    border-top : solid #250987 8px;

}


#tir{

    border-right : none;  
    border-bottom :solid #250987 8px;
  }

td{

    text-align : center;
}

table {
    
    margin-left:auto;
    margin-right:auto;
   
    height:  30em;
    width: 60em;

}

button{

background-color :  blue;
color : white;
width: 50%;
height :100px;

}

