h1{
	
	font-size : 65px;
	text-align:center;
	font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
	padding-top : 100px;
	
}




h2{

    text-align:center;

}

span {
	
    color:#00968D;
   
   
   
}


#premiereligne{

   background-color:#0057e1;
	   color : white;
   
}


